.ml-20 {
  margin-left: 20px;
  font-family: "Open Sans", sans-serif;
}
.bold {
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
}
.h-70 {
  height: 70vh;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.w-200 {
  width: 200px;
}
.w-400 {
  width: 400px;
}

.ml-50 {
  margin-left: 50px;
}
